{% extends 'main.html' %}

{% block content %}
    {% include 'home1.html' %}

    {#    <div container>#}
    {#        <div class="row">#}
    {#            <div class="col-md-6" >#}
    {#                <img src="{{ url_for('static',filename=('/img/st1.jpg'))}}" height="560px" width="600px">#}
    {#            </div>#}
    {#            <div class="col-md-6">#}
    {#                {{ data }}#}
    {##}
    {##}
    {#                </a>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}